.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  background-color: #f2f7f5;
  color: #00473e;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #f2f7f5;
}
