
h2 {
    padding-top: 10px;
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 40%;
}

.inputBG {
    padding-top: 50px;
    padding-bottom: 10px;
    background-image: url("bg.png");
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

