
table .columnName {
    font-weight: bold;
    color: #00473e;
    padding-top: 20px;
}

.playlist-sum {
    padding-top: 15px;
}

/* table {
    background-image: url("bg.png");
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
} */